<div>
    <div class="row card-background">
        <div class="col-8 border-right">
            <div class="border-bottom">
                <div class="flex">
                    <div>
                        <h2 class="m-r-5 m-b-0">Monthly Payroll
                            <mat-icon class="orangdeg-color">keyboard_arrow_right</mat-icon>
                        </h2>
                    </div>           
                    <div class="flex">
                        <div class="outer circle center-f-inside">
                            <div class="inner circle center-f-inside"></div>
                        </div>
                        <div class="outer circle center-f-inside"></div>
                        <div class="outer circle center-f-inside"></div>
                        <div class="outer circle center-f-inside"></div>
                        <div class="outer circle center-f-inside"></div>
                        <div class="outer circle center-f-inside"></div>
                        <div class="outer circle center-f-inside"></div>
                        <button class="font-size-15 not-ready-txt p-l-12 p-r-12 p-t-3 p-b-3 m-l-5" style="color: maroon;font-weight: 600;background-color: #f6cccc;border: none;">Collate</button>
                        <!-- <button mat-button>Collate</button> -->
                    </div>                        
                </div>
                <h4 class="m-b-0">Production Staff</h4>
                <p>29th March - 28th April</p>  
            </div>
            <div class="d-flex">
                <div class="d-flex border-right p-all align-text-center orangdeg-color">
                    <mat-icon class="d-flex align-text-center m-r-5 font-size-15">warning</mat-icon>
                    1 tasks overdue
                </div>
                <div class="d-flex border-right p-all align-text-center">
                    <mat-icon class="d-flex align-text-center m-r-5 font-size-15">shoping_bag</mat-icon>
                    1 task due today
                </div>
                <div class="d-flex border-right p-all align-text-center">
                    <mat-icon class="d-flex align-text-center m-r-5 font-size-15">message</mat-icon>
                    0 query updates
                </div>
            </div>
        </div>
        <div class="col-4 font-size-12">
            <p>Previous Period (27th Feb - 28th Mar)</p>
            <div class="flex align-text-center">
                <div class="kpi_card">
                    <p class="m-b-5 font-weight-700">Accuracy</p>
                    <p class="m-b-5 font-size-25 blue-color font-weight-700">95 %</p>
                    <p class="m-b-5"><span class="green-color">+1% </span>vs previous</p>
                </div>
                <div class="kpi_card">
                    <p class="m-b-5 font-weight-700">Employees</p>
                    <p class="m-b-5 font-size-25 blue-color font-weight-700">42</p>
                    <p class="m-b-5"><span class="green-color">+4 </span>vs previous</p>
                </div>
                <div class="kpi_card">
                    <p class="m-b-5 font-weight-700">Pulse</p>
                    <p class="m-b-5 font-size-25 blue-color font-weight-700">
                        <mat-progress-bar
                            class="example-margin"
                            [color]="color"
                            [mode]="mode"
                            [value]="value"
                            [bufferValue]="bufferValue">
                        </mat-progress-bar>
                        <!-- <span style="position: absolute; padding: 10px; color: white;">5</span> -->
                    </p>
                    <p class="m-b-5"><span class="red-color">-1 </span>vs previous</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row card-background">
        <div class="col-8 border-right">
            <div class="border-bottom">
                <div class="flex">
                    <div>
                        <h2 class="m-r-5 m-b-0">Fortnightly Payroll
                            <mat-icon class="orangdeg-color">keyboard_arrow_right</mat-icon>
                        </h2>
                    </div>           
                    <div class="flex">                        
                        <div class="outer circle center-f-inside outer-green-color">
                            <mat-icon class="font-size-21 check-icon-color">check</mat-icon>
                        </div>
                        <div class="outer circle center-f-inside outer-green-color">
                            <mat-icon class="font-size-21 check-icon-color">check</mat-icon>
                        </div>
                        <div class="outer circle center-f-inside">
                            <div class="inner circle center-f-inside"></div>
                        </div>
                        <div class="outer circle center-f-inside"></div>
                        <div class="outer circle center-f-inside"></div>
                        <div class="outer circle center-f-inside"></div>
                        <div class="outer circle center-f-inside"></div>
                        <button class="font-size-15 not-ready-txt p-l-12 p-r-12 p-t-3 p-b-3 m-l-5" style="color: maroon;font-weight: 600;background-color: #f6cccc;border: none;">Process</button>
                    </div>                        
                </div>
                <h4 class="m-b-0">Production Staff</h4>
                <p>11th April - 24th April</p>  
            </div>
            <div class="d-flex">
                <button
                mat-stroked-button
                class="primary-btn"
              >
                <mat-icon>warning</mat-icon>1 critical tasks
              </button>
                <div class="d-flex border-right p-all align-text-center orangdeg-color">
                    <mat-icon class="d-flex align-text-center m-r-5 font-size-15">warning</mat-icon>
                    4 critical tasks
                </div>
                <div class="d-flex border-right p-all align-text-center">
                    <mat-icon class="d-flex align-text-center m-r-5 font-size-15">shoping_bag</mat-icon>
                    4 task due today
                </div>
                <div class="d-flex border-right p-all align-text-center">
                    <mat-icon class="d-flex align-text-center m-r-5 font-size-15">message</mat-icon>
                    1 query updates
                </div>
            </div>
        </div>
        <div class="col-4 font-size-12">
            <p>Previous Period (27th Feb - 28th Mar)</p>
            <div class="flex align-text-center">
                <div class="kpi_card">
                    <p class="m-b-5 font-weight-700">Accuracy</p>
                    <p class="m-b-5 font-size-25 blue-color font-weight-700">95 %</p>
                    <p class="m-b-5"><span class="green-color">+1% </span>vs previous</p>
                </div>
                <div class="kpi_card">
                    <p class="m-b-5 font-weight-700">Employees</p>
                    <p class="m-b-5 font-size-25 blue-color font-weight-700">42</p>
                    <p class="m-b-5"><span class="green-color">+4 </span>vs previous</p>
                </div>
                <div class="kpi_card">
                    <p class="m-b-5 font-weight-700">Pulse</p>
                    <p class="m-b-5 font-size-25 blue-color font-weight-700">
                        <mat-progress-bar
                            class="example-margin"
                            [color]="color"
                            [mode]="mode"
                            [value]="value"
                            [bufferValue]="bufferValue">
                        </mat-progress-bar>
                        <!-- <span style="position: absolute; padding: 10px; color: white;">5</span> -->
                    </p>
                    <p class="m-b-5"><span class="red-color">-1 </span>vs previous</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row card-background">
        <div class="col-8 border-right">
            <div class="border-bottom">
                <div class="flex">
                    <div>
                        <h2 class="m-r-5 m-b-0">Weekly Payroll
                            <mat-icon class="orangdeg-color">keyboard_arrow_right</mat-icon>
                        </h2>
                    </div>           
                    <div class="flex">                        
                        <div class="outer circle center-f-inside outer-green-color">
                            <mat-icon class="font-size-21 check-icon-color">check</mat-icon>
                        </div>
                        <div class="outer circle center-f-inside outer-green-color">
                            <mat-icon class="font-size-21 check-icon-color">check</mat-icon>
                        </div>
                        <div class="outer circle center-f-inside outer-green-color">
                            <mat-icon class="font-size-21 check-icon-color">check</mat-icon>
                        </div>
                        <div class="outer circle center-f-inside outer-green-color">
                            <mat-icon class="font-size-21 check-icon-color">check</mat-icon>
                        </div>
                        <div class="outer circle center-f-inside">
                            <div class="inner circle center-f-inside inner-blue-color"></div>
                        </div>
                        <div class="outer circle center-f-inside"></div>
                        <div class="outer circle center-f-inside"></div>
                        <button class="font-size-15 not-ready-txt p-l-12 p-r-12 p-t-3 p-b-3 m-l-5" style="color: darkblue;
                        font-weight: 600;
                        background-color: #00008b17;
                        border: none;">Payments</button>
                    </div>                        
                </div>
                <h4 class="m-b-0">Production Staff</h4>
                <p>11th April - 24th April</p>  
            </div>
            <div class="d-flex">
                <div class="d-flex border-right p-all align-text-center">
                    <mat-icon class="d-flex align-text-center m-r-5 font-size-15">warning</mat-icon>
                    0 tasks overdue
                </div>
                <div class="d-flex border-right p-all align-text-center">
                    <mat-icon class="d-flex align-text-center m-r-5 font-size-15">shoping_bag</mat-icon>
                    1 task due today
                </div>
                <div class="d-flex border-right p-all align-text-center">
                    <mat-icon class="d-flex align-text-center m-r-5 font-size-15">message</mat-icon>
                    0 query updates
                </div>
            </div>
        </div>
        <div class="col-4 font-size-12">
            <p>Previous Period (27th Feb - 28th Mar)</p>
            <div class="flex align-text-center">
                <div class="kpi_card">
                    <p class="m-b-5 font-weight-700">Accuracy</p>
                    <p class="m-b-5 font-size-25 blue-color font-weight-700">98 %</p>
                    <p class="m-b-5"><span class="green-color">+1% </span>vs previous</p>
                </div>
                <div class="kpi_card">
                    <p class="m-b-5 font-weight-700">Employees</p>
                    <p class="m-b-5 font-size-25 blue-color font-weight-700">23</p>
                    <p class="m-b-5"><span class="green-color">+4 </span>vs previous</p>
                </div>
                <div class="kpi_card">
                    <p class="m-b-5 font-weight-700">Pulse</p>
                    <p class="m-b-5 font-size-25 blue-color font-weight-700">
                        <button
                            mat-stroked-button
                            
                            class="primary-btn font-size-12"
                            >
                            Rate Payroll
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

