<div>
    <div class="row card-background">
        <div class="col-10 border-right">
            <div class="border-bottom">
                <div class="flex">
                    <div>
                        <h6 class="h6_text">Monthly Payroll
                            <img src="../../assets/image/right-angle-icon.png" class="m-l-5"/>
                        </h6>
                    </div>           
                    <div class="flex">
                        <button class="font-size-15 not-ready-txt p-l-12 p-r-12 p-t-3 p-b-3 m-l-5 collate_btn" >Collate</button>
                    </div>                        
                </div>
                <p class="h6_text-para">Production Staff</p>
                <p class="h6_text-para_para">29th March - 28th April</p>  
            </div>
            <div class="d-flex">
                <button
                mat-stroked-button
                class="primary-btn"
              >
              <img src="../../assets/image/warning-icon.png" class="m-r-5"/>1 critical tasks
              </button>
                <div class="d-flex border-right p-all align-text-center orangdeg-color">
                    <!-- <mat-icon class="d-flex align-text-center m-r-5 font-size-15">warning</mat-icon> -->
                    <img src="../../assets/image/warning-red-icon.png" class="m-r-5"/>
                    1 tasks overdue
                </div>
                <div class="d-flex border-right p-all align-text-center">
                    <!-- <mat-icon class="d-flex align-text-center m-r-5 font-size-15">shoping_bag</mat-icon> -->
                    <img src="../../assets/image/bag-icon.png" class="m-r-5"/>
                    1 task due today
                </div>
                <div class="d-flex border-right p-all align-text-center">
                    <!-- <mat-icon class="d-flex align-text-center m-r-5 font-size-15">message</mat-icon> -->
                    <img src="../../assets/image/message-balck-icon.png" class="m-r-5"/>
                    0 query updates
                </div>
            </div>
        </div>
        <div class="col-2 font-size-12">
            <p class="text-align-center font-weight-700">Payroll Pulse</p>
            <div class="flex align-text-center justify-content">
                <div class="kpi_card">
                    <p class="m-b-5 font-weight-700 font-size-11">27th Feb - 28th Mar</p>
                    <p class="m-b-5 font-size-25 blue-color font-weight-700">
                        <mat-progress-bar
                            class="example-margin"
                            [color]="color"
                            [mode]="mode"
                            [value]="value"
                            [bufferValue]="bufferValue">
                        </mat-progress-bar>
                        <!-- <span style="position: absolute; padding: 10px; color: white;">5</span> -->
                    </p>
                    <p class="m-b-5"><span class="red-color">-1 </span>vs previous</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row card-background">
        <div class="col-10 border-right">
            <div class="border-bottom">
                <div class="flex">
                    <div>
                        <h6 class="h6_text">Fortnightly Payroll
                            <img src="../../assets/image/right-angle-icon.png" class="m-l-5"/>
                        </h6>
                    </div>           
                    <div class="flex">
                        <button class="font-size-15 not-ready-txt p-l-12 p-r-12 p-t-3 p-b-3 m-l-5 collate_btn">Process</button>
                    </div>                        
                </div>
                <p class="h6_text-para">Production Staff</p>
                <p class="h6_text-para_para">11th April - 24th April</p>  
            </div>
            <div class="d-flex">
               
                <div class="d-flex border-right p-all align-text-center orangdeg-color">
                    <img src="../../assets/image/warning-red-icon.png" class="m-r-5"/>
                    4 critical tasks
                </div>
                <div class="d-flex border-right p-all align-text-center">
                    <img src="../../assets/image/bag-icon.png" class="m-r-5"/>
                    4 task due today
                </div>
                <div class="d-flex border-right p-all align-text-center">
                    <img src="../../assets/image/message-balck-icon.png" class="m-r-5"/>
                    1 query updates
                </div>
            </div>
        </div>
        <div class="col-2 font-size-12">
            <p class="text-align-center font-weight-700">Payroll Pulse</p>
            <div class="flex align-text-center justify-content">
                <div class="kpi_card">
                    <p class="m-b-5 font-weight-700 font-size-11">27th Feb - 28th Mar</p>
                    <p class="m-b-5 font-size-25 blue-color font-weight-700">
                        <mat-progress-bar
                            class="example-margin"
                            [color]="color"
                            [mode]="mode"
                            [value]="value"
                            [bufferValue]="bufferValue">
                        </mat-progress-bar>
                        <!-- <span style="position: absolute; padding: 10px; color: white;">5</span> -->
                    </p>
                    <p class="m-b-5"><span class="red-color">-1 </span>vs previous</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row card-background">
        <div class="col-10 border-right">
            <div class="border-bottom">
                <div class="flex">
                    <div>
                        <h6 class="h6_text">Weekly Payroll
                            <img src="../../assets/image/right-angle-icon.png" class="m-l-5"/>
                        </h6>
                    </div>           
                    <div class="flex"> 
                        <button class="font-size-15 not-ready-txt p-l-12 p-r-12 p-t-3 p-b-3 m-l-5 collate_btn" >Payments</button>
                    </div>                        
                </div>
                <p class="h6_text-para">Production Staff</p>
                <p class="h6_text-para_para">11th April - 24th April</p>  
            </div>
            <div class="d-flex">
                <div class="d-flex border-right p-all align-text-center">
                    <img src="../../assets/image/warning-black-icon.png" class="m-r-5"/>
                    0 tasks overdue
                </div>
                <div class="d-flex border-right p-all align-text-center">
                    <img src="../../assets/image/bag-icon.png" class="m-r-5"/>
                    1 task due today
                </div>
                <div class="d-flex border-right p-all align-text-center">
                    <img src="../../assets/image/message-balck-icon.png" class="m-r-5"/>
                    0 query updates
                </div>
            </div>
        </div>
        <div class="col-2 font-size-12">
            <p class="text-align-center font-weight-700">Payroll Pulse</p>
            <div class="flex align-text-center">
                <div class="kpi_card">
                    <p class="m-b-5 font-weight-700 font-size-11">27th Feb - 28th Mar</p>
                    <div class="m-b-5 font-size-25 blue-color font-weight-700">
                        <button
                            mat-stroked-button
                            (click)="openDialog()"
                            class="primary-btn font-size-12"
                            >
                            Rate Payroll
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

