<div>
    <div class="row card-background">
        <div class="col-10 border-right p-r-0">
            <div class="border-bottom">
                <div class="flex">
                    <div class="d-flex align-item-baseline">
                        <h6 class="h6_text m-b-2">Monthly Payroll</h6>
                        <img src="../../assets/image/right-angle-icon.png" class="m-l-10"/>
                    </div>           
                    <div class="p-r-30">
                        <button class="font-size-15 collate_btn" >Collate</button>
                    </div>                        
                </div>
                <p class="h6_text-para m-b-2">Production Staff</p>
                <p class="h6_text-para_para">29th Mar - 28th Apr</p>  
            </div>
            <div class="d-flex">
                <button
                mat-stroked-button
                class="primary-btn no-border-radius"
              >
              <img src="../../assets/image/warning-icon.png" class="m-r-5 m-l-5"/>
              <span class="m-l-5">1 critical tasks</span> 
              </button>
                <div class="d-flex border-right p-all align-text-center orangdeg-color">
                    <img src="../../assets/image/warning-red-icon.png" class="m-r-5 m-l-5"/>
                    <span class="m-l-5">1 tasks overdue</span>
                </div>
                <div class="d-flex border-right p-all align-text-center">
                    <img src="../../assets/image/bag-icon.png" class="m-r-5 m-l-5"/>
                    <span class="m-l-5">1 task due today</span>
                </div>
                <div class="d-flex border-right p-all align-text-center">
                    <img src="../../assets/image/message-balck-icon.png" class="m-r-5 m-l-5"/>
                    <span class="m-l-5">0 query updates</span>
                </div>
            </div>
        </div>
        <div class="col-2 font-size-12">
            <p class="text-align-center font-weight-700">Payroll Pulse</p>
            <div class="flex align-text-center justify-content">
                <div class="kpi_card">
                    <p class="m-b-5 font-weight-700 font-size-11">27th Feb - 28th Mar</p>
                    <div class="m-b-5 font-size-25 blue-color font-weight-700 example-section">
                        <mat-progress-bar
                            class="example-margin"
                            [color]="color"
                            [mode]="mode"
                            [value]="MonthlyPulseProgress"
                            aria-valuemax="MonthlyPulseValueMax">
                        </mat-progress-bar>
                        <div style="position: absolute; padding: 10px; color: white; font-size: 12px;    text-align: right;" [style.width]="((MonthlyPulseProgress/100*10) + 1) + '%'"> {{MonthlyPulseValue}} </div>
                    </div>
                    <p class="m-b-5"><span class="red-color">-1 </span>vs previous</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row card-background">
        <div class="col-10 border-right p-r-0">
            <div class="border-bottom">
                <div class="flex">
                    <div class="d-flex align-item-baseline">
                        <h6 class="h6_text m-b-2">Fortnightly Payroll
                            <img src="../../assets/image/right-angle-icon.png" class="m-l-10"/>
                        </h6>
                    </div>           
                    <div class="p-r-30">
                        <button class="font-size-15 collate_btn">Process</button>
                    </div>                        
                </div>
                <p class="h6_text-para m-b-2">Production Staff</p>
                <p class="h6_text-para_para">11th April - 24th April</p>  
            </div>
            <div class="d-flex">
               
                <div class="d-flex border-right p-all align-text-center orangdeg-color">
                    <img src="../../assets/image/warning-red-icon.png" class="m-r-5 m-l-5"/>
                    <span class="m-l-5">4 critical tasks</span>
                </div>
                <div class="d-flex border-right p-all align-text-center">
                    <img src="../../assets/image/bag-icon.png" class="m-r-5 m-l-5"/>
                    <span class="m-l-5">4 task due today</span>
                </div>
                <div class="d-flex border-right p-all align-text-center">
                    <img src="../../assets/image/message-balck-icon.png" class="m-r-5 m-l-5"/>
                    <span class="m-l-5">1 query updates</span>
                </div>
            </div>
        </div>
        <div class="col-2 font-size-12">
            <p class="text-align-center font-weight-700">Payroll Pulse</p>
            <div class="flex align-text-center justify-content">
                <div class="kpi_card">
                    <p class="m-b-5 font-weight-700 font-size-11">27th Feb - 28th Mar</p>
                    <div class="m-b-5 font-size-25 blue-color font-weight-700 example-section">
                        <mat-progress-bar
                            class="example-margin"
                            [color]="color"
                            [mode]="mode"
                            [value]="fortnightlyPulseProgress"
                            aria-valuemax="fortnightlyPulseValueMax">
                        </mat-progress-bar>
                        <div style="position: absolute; padding: 10px; color: white; font-size: 12px;    text-align: right;" [style.width]="((fortnightlyPulseProgress/100*10) + 1) + '%'"> {{fortnightlyPulseValue}} </div>
                    </div>
                    <p class="m-b-5"><span class="red-color">-1 </span>vs previous</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row card-background">
        <div class="col-10 border-right">
            <div class="border-bottom">
                <div class="flex">
                    <div>
                        <h6 class="h6_text">Weekly Payroll
                            <img src="../../assets/image/right-angle-icon.png" class="m-l-5"/>
                        </h6>
                    </div>           
                    <div class="flex"> 
                        <button class="font-size-15 not-ready-txt p-l-12 p-r-12 p-t-3 p-b-3 m-l-5 collate_btn" >Payments</button>
                    </div>                        
                </div>
                <p class="h6_text-para">Production Staff</p>
                <p class="h6_text-para_para">11th April - 24th April</p>  
            </div>
            <div class="d-flex">
                <div class="d-flex border-right p-all align-text-center">
                    <img src="../../assets/image/warning-black-icon.png" class="m-r-5"/>
                    0 tasks overdue
                </div>
                <div class="d-flex border-right p-all align-text-center">
                    <img src="../../assets/image/bag-icon.png" class="m-r-5"/>
                    1 task due today
                </div>
                <div class="d-flex border-right p-all align-text-center">
                    <img src="../../assets/image/message-balck-icon.png" class="m-r-5"/>
                    0 query updates
                </div>
            </div>
        </div>
        <div class="col-2 font-size-12">
            <p class="text-align-center font-weight-700">Payroll Pulse</p>
            <div class="flex align-text-center">
                <div class="kpi_card">
                    <p class="m-b-5 font-weight-700 font-size-11">27th Feb - 28th Mar</p>
                    <div class="m-b-5 font-size-25 blue-color font-weight-700">
                        <button
                            mat-stroked-button
                            (click)="openDialog()"
                            class="primary-btn font-size-12"
                            >
                            Rate Payroll
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

