<div class="control-section">
	<div class="col-lg-12 content-wrapper" *ngIf="isAdmin">
		<ejs-schedule #scheduleObj [selectedDate]="selectedDate" [group]="group"
			currentView="TimelineWeek" [showHeaderBar]='false' (renderCell)="onRenderCell($event)"
			[eventSettings]="eventSettings" [timeScale]="timeScale" (eventRendered)="oneventRendered($event)">
			<e-resources>
				<e-resource field='CompanyId' [dataSource]='CompanyDataSource' [allowMultiple]='allowMultiple'
				 name='Companies' textField='text' idField='id' cssClassField='cssClass'>
				</e-resource>
				<e-resource field='CountryId' [dataSource]='CountriesDataSource' [allowMultiple]='allowMultiple'
					name='Countries' textField='text' idField='id' groupIDField='groupId'>
				</e-resource>
				<e-resource field='PayrollId' [dataSource]='PayrollsDataSource' [allowMultiple]='allowMultiple'
					name='Payrolls' textField='text' idField='id' groupIDField='groupId' colorField='color'>
				</e-resource>
			</e-resources>
			<ng-template #dateHeaderTemplate let-data>
				<div class="date-text" [innerHTML]="getDateHeaderText(data.date)"></div>
			</ng-template>
			<!-- <ng-template #resourceHeaderTemplate let-data>
				<div class='company-wrap'>
					<div class="{{getCountryImage(data)}}"></div>
					<div class="company-name">{{data.resourceData.name}}</div>
				</div>
			</ng-template> -->
			<e-views>
				<e-view option="TimelineWeek" interval="2" dateFormat='dd-MM-yyyy' [readonly]="isReadOnly"></e-view>
			</e-views>
		</ejs-schedule>
	</div>
	<div class="col-lg-12 content-wrapper" *ngIf="!isAdmin">
		<ejs-schedule #scheduleObj [selectedDate]="selectedDate" [group]="clgroup"
			currentView="TimelineWeek" [showHeaderBar]='false' (renderCell)="onRenderCell($event)"
			[eventSettings]="eventSettings" [timeScale]="timeScale" (eventRendered)="oneventRendered($event)">
			<e-resources>
				<e-resource field='CountryId' [dataSource]='CountriesDataSource' [allowMultiple]='allowMultiple'
					name='Countries' textField='text' idField='id' colorField='color'>
				</e-resource>
				<e-resource field='PayrollId' [dataSource]='PayrollsDataSource' [allowMultiple]='allowMultiple'
					name='Payrolls' textField='text' idField='id' groupIDField='groupId' colorField='color'>
				</e-resource>
			</e-resources>
			<ng-template #dateHeaderTemplate let-data>
				<div class="date-text" [innerHTML]="getDateHeaderText(data.date)"></div>
			</ng-template>
			<ng-template #resourceHeaderTemplate let-data>
				<div class='country-wrap'>
					<div class="{{getCountryImage(data)}}"></div>
					<div class="country-details">
						<div class="country-name">{{data.resourceData.name}}</div>
					</div>
				</div>
			</ng-template>
			<e-views>
				<e-view option="TimelineWeek" interval="2" dateFormat='dd-MM-yyyy' [readonly]="isReadOnly"></e-view>
			</e-views>
		</ejs-schedule>
	</div>
</div>