.e-schedule:not(.e-device) .e-agenda-view .e-content-wrap table td:first-child {
    width: 90px;
  }
  .e-schedule .e-agenda-view .e-resource-column {
    width: 100px;
  }
  
  .e-schedule .template-wrap .nancy {
    background-image: url('https://ej2.syncfusion.com/demos/src/schedule/images/nancy.png');
  }
  
  .e-schedule .template-wrap .robert {
    background-image: url('https://ej2.syncfusion.com/demos/src/schedule/images/robert.png');
  }
  
  .e-schedule .template-wrap .laura {
    background-image: url('https://ej2.syncfusion.com/demos/src/schedule/images/laura.png');
  }
  
  .e-schedule .template-wrap .margaret {
    background-image: url('https://ej2.syncfusion.com/demos/src/schedule/images/margaret.png');
  }
  
  .e-schedule .template-wrap .nancy,
  .e-schedule .template-wrap .robert,
  .e-schedule .template-wrap .laura,
  .e-schedule .template-wrap .margaret {
    width: 45px;
    height: 45px;
    background-size: 45px;
    background-repeat: no-repeat;
  }
  
  .e-schedule .template-wrap {
      display: flex;
      text-align: left;
  }
  
  
  .e-schedule .template-wrap .resource-details {
      padding-left: 10px;
  }
  
  .e-schedule .template-wrap .resource-details .resource-designation {
    padding-top: 10px;
    color: red;
    font-size: 14px;
    font-weight: 500;
  }
  