
.e-schedule .template-wrap .monthlypayroll {
  background-image: url('../../assets/image/warning-red-icon.png');
}

.e-schedule .template-wrap .weeklypayroll {
  background-image: url('https://ej2.syncfusion.com/demos/src/schedule/images/robert.png');
}

.e-schedule .template-wrap .laura {
  background-image: url('https://ej2.syncfusion.com/demos/src/schedule/images/laura.png');
}

.e-schedule .template-wrap .margaret {
  background-image: url('https://ej2.syncfusion.com/demos/src/schedule/images/margaret.png');
}

.e-schedule .template-wrap .monthlypayroll,
.e-schedule .template-wrap .weeklypayroll,
.e-schedule .template-wrap .laura,
.e-schedule .template-wrap .margaret {
  width: 24px;
  height: 21px;
  background-size: 23px;
  background-repeat: no-repeat;
}

.e-schedule .template-wrap {
  display: flex;
  text-align: left;
}


.e-schedule .template-wrap .resource-details {
  padding-left: 10px;
}

:host ::ng-deep .e-schedule .e-timeline-view .e-appointment {
  border-radius: 20px !important;
  pointer-events: none;
  text-wrap: balance;
  font-weight: 200;
  height: 30px;
  margin-top: 13px
}

:host ::ng-deep .e-schedule .e-timeline-view .e-work-cells,
:host ::ng-deep .e-schedule .e-timeline-view .e-resource-cells{
  max-width: 54px !important;
}

:host ::ng-deep.e-appointment-details .e-time {
  display: none !important;
}

:host ::ng-deep .e-schedule .e-timeline-view .e-appointment .e-appointment-details {
  text-align: center;
}

:host ::ng-deep .e-schedule .e-timeline-view .e-appointment .e-appointment-details .e-inner-wrap {
  align-content: center;
}

.date-text {
  font-weight: 500;
  font-size: 11px;
  text-wrap: balance;
}

:host ::ng-deep .e-schedule .e-timeline-view .e-date-header-wrap table td.e-current-day {
  color: #4143E7;
  border: 1.5px solid #4143E7;
}

:host ::ng-deep .e-schedule .e-timeline-view .e-resource-tree-icon {
  display: none;
}

:host ::ng-deep .e-work-cells.e-work-hours.current-date {
  border: 1px solid #4143E7;
  margin: auto;
  height: 100%;
  width: 2px;
}

:host ::ng-deep .e-schedule .e-timeline-view .e-date-header-wrap table tbody td, .e-schedule .e-timeline-month-view .e-date-header-wrap table tbody td {
  padding: 6px;
  text-align: center;
}