.stage-column-txt-back-style{   
    background-color: #facbcb;
    color: orangered;
}
.stage-column-box{
    height: 22px;
    padding-left: 10px;
    text-align: center;
    padding-right: 10px;
    border-radius: 10px;
}
.critical-column-box{
    text-align: center;
    border-radius: 5px;
    padding: 7px;
}
.critical-column-txt-back-style{
    background-color: orangered;
    color: white;
}

/* mat-mdc-cell mdc-data-table__cell cdk-cell cdk-column-critical  */
.mat-column-critical.mdc-data-table__cell{
    text-align: center !important;
}
.mat-column-overdue.mdc-data-table__cell{
    text-align: center !important; 
}
.at-column-due.mdc-data-table__cell{
    text-align: center !important;
}
.mat-column-querie.mdc-data-table__cell{
    text-align: center !important;
}