<div class="flex align-item-baseline">
    <div class="font-size-22"><b>Payroll</b></div>
    <div class="">
        <button mat-stroked-button (click)="myButton()" 
          class="m-l-0 font-weight-500">
          6 tasks due today
        </button>
        <button
          mat-stroked-button
          (click)="myButton()"
          class="primary-btn m-r-0 font-weight-500"
        >
          2 critical tasks
        </button>
        <button
          mat-stroked-button
          (click)="myButton()"
          class="secondary-btn font-weight-500 task-overdue"
        >
          3 tasks overdue
        </button>
       
        <button
          mat-stroked-button
          (click)="myButton()"
          class="m-l-0 font-weight-500"
        >
          1 query updates
        </button>
        
      </div>
  </div>
<mat-tab-group>
    <mat-tab label="Overview">
      <div class="flex align-item-baseline">
        <div class="mr-t-22"><b>Countries 4 of 8</b></div>
        <div>
          <app-filter></app-filter>
        </div>
      </div>
      
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <div class="my-panel d-flex align-text-center" (click)="$event.stopPropagation()">
              
              <h2 class="mr-t-22">
                <img src="../../assets/image/GB.png" class="m-r-5 img-prop"/>
                <span>Canada</span> <span class="p-l-12 font-size-15 font-weight-400">3 Payrolls</span>
              </h2>
              <div class="task-button-group">
                <button
                  mat-stroked-button
                  (click)="myButton()"
                  class="primary-btn"
                >
                  <img src="../../assets/image/warning-icon.png" class="warning-icon"/> 
                  <span class="font-weight-400 m-l-10">1 critical tasks</span> 
                </button>
                <button
                  mat-stroked-button
                  (click)="myButton()"
                  class="secondary-btn border-radius-right-top-0 border-radius-right-bottom-0"
                >
                <img src="../../assets/image/warning-red-icon.png" class="warning-icon"/> 
                <span class="font-weight-400 m-l-10">3 tasks overdue</span>
                </button>
                <button mat-stroked-button (click)="myButton()" class="m-l-0 no-border-radius">
                  <img src="../../assets/image/bag-icon.png" class="warning-icon"/> 
                  <span class="font-weight-400 m-l-10">6 tasks due today</span>
                </button>
                <button
                  mat-stroked-button
                  (click)="myButton()"
                  class="secondary-btn m-l-0 border-radius-left-top-0 border-radius-left-bottom-0"
                >
                <img src="../../assets/image/message-icon.png" class="warning-icon"/> 
                <span class="font-weight-400 m-l-10">1 query updates</span>
                </button>
              </div>
            </div>
          </mat-expansion-panel-header>
          <div>
              <app-landing-inner-card></app-landing-inner-card>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
    <mat-tab label="Payroll timeline"> Large content </mat-tab>
</mat-tab-group>