<div class="flex mr-t-22 align-item-baseline">
    <div class="mr-t-22 font-size-22"><b>Payroll</b></div>
    <div class="task-button-group">
        <button
          mat-stroked-button
          (click)="myButton()"
          class="secondary-btn"
        >
          3 tasks overdue
        </button>
        <button mat-stroked-button (click)="myButton()" class="m-l-0">
          6 tasks due today
        </button>
        <button
          mat-stroked-button
          (click)="myButton()"
          class="secondary-btn m-l-0"
        >
          1 query updates
        </button>
        <button
          mat-stroked-button
          (click)="myButton()"
          class="primary-btn"
        >
          2 critical tasks
        </button>
      </div>
  </div>
<mat-tab-group>
    <mat-tab label="Overview">
      <div class="flex mr-t-22 align-item-baseline">
        <div class="mr-t-22"><b>Countries 4 of 8</b></div>
        <div>
          <div>
            <app-filter></app-filter>
          </div>
        </div>
      </div>
      
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <div class="my-panel d-flex align-text-center" (click)="$event.stopPropagation()">
              <img src="../../assets/image/🇬🇧.png" class="m-r-5 img-prop"/>
              <h2 class="mr-t-22">
                
                <b>Canada</b> <span class="p-l-12 font-size-15">3 Payrolls</span>
              </h2>
              <div class="task-button-group">
                <button
                  mat-stroked-button
                  (click)="myButton()"
                  class="primary-btn"
                >
                  <img src="../../assets/image/warning-icon.png"/> critical tasks
                </button>
                <button
                  mat-stroked-button
                  (click)="myButton()"
                  class="secondary-btn"
                >
                <img src="../../assets/image/warning-red-icon.png"/> 3 tasks overdue
                </button>
                <button mat-stroked-button (click)="myButton()" class="m-l-0">
                  <img src="../../assets/image/bag-icon.png"/> 6 tasks due today
                </button>
                <button
                  mat-stroked-button
                  (click)="myButton()"
                  class="secondary-btn m-l-0"
                >
                <img src="../../assets/image/message-icon.png"/> 1 query updates
                </button>
              </div>
            </div>
          </mat-expansion-panel-header>
          <div>
              <app-landing-inner-card></app-landing-inner-card>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
    <mat-tab label="Payroll timeline"> Large content </mat-tab>
</mat-tab-group>