<div class="flex mr-t-22">
    <div class="mr-t-22 font-size-22"><b>Payroll</b></div>
    <div class="task-button-group">
        <button
          mat-stroked-button
          (click)="myButton()"
          class="secondary-btn"
        >
          <mat-icon>warning</mat-icon> 3 tasks overdue
        </button>
        <button mat-stroked-button (click)="myButton()" class="m-l-0">
          <mat-icon>shoping bag</mat-icon> 6 tasks due today
        </button>
        <button
          mat-stroked-button
          (click)="myButton()"
          class="secondary-btn m-l-0"
        >
          <mat-icon>message</mat-icon> 1 query updates
        </button>
        <button
          mat-stroked-button
          (click)="myButton()"
          class="primary-btn"
        >
          <mat-icon>warning</mat-icon>2 critical tasks
        </button>
      </div>
  </div>
<mat-tab-group>
    <mat-tab label="Overview">
      <div class="flex mr-t-22">
        <div class="mr-t-22"><b>Countries 4 of 8</b></div>
        <div>
          <button mat-button color="warn">Clear Filter</button>
          <button mat-stroked-button class="m-l-0">
            <mat-icon>filter_alt</mat-icon> Filter(1)
          </button>
         
          <mat-form-field appearance="outline">
            <span class="dropdown-heading">Sort By:</span>
            <mat-select [value]="selectedOption">
              <mat-option value="Most Relevant">Most Relevant</mat-option>
              <mat-option value="Relevant">Relevant</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <div class="my-panel" (click)="$event.stopPropagation()">
              <h2 class="mr-t-22">
                <b>Canada</b> <span class="p-l-12 font-size-15">3 Payrolls</span>
              </h2>
              <div class="task-button-group">
                <button
                  mat-stroked-button
                  (click)="myButton()"
                  class="primary-btn"
                >
                  <mat-icon>warning</mat-icon>2 critical tasks
                </button>
                <button
                  mat-stroked-button
                  (click)="myButton()"
                  class="secondary-btn"
                >
                  <mat-icon>warning</mat-icon> 3 tasks overdue
                </button>
                <button mat-stroked-button (click)="myButton()" class="m-l-0">
                  <mat-icon>shoping bag</mat-icon> 6 tasks due today
                </button>
                <button
                  mat-stroked-button
                  (click)="myButton()"
                  class="secondary-btn m-l-0"
                >
                  <mat-icon>message</mat-icon> 1 query updates
                </button>
              </div>
            </div>
          </mat-expansion-panel-header>
          <div>
              <app-landing-inner-card></app-landing-inner-card>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
    <mat-tab label="Payroll timeline"> Large content </mat-tab>
</mat-tab-group>