.apply_filter_btn{
    width: -webkit-fill-available;
    
}
.sticky-position{
    position: sticky;
    bottom: 8px;
}
.mat-mdc-option{
    flex-direction: row-reverse !important;
}
.img_flag{
    height: 18px;
}

/* .filter-dropdown{
    max-width: 15%!important;
} */