/* You can add global styles to this file, and also import other style files */
html, body { 
  height: 100%; 
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #f8f5f5;
}

.grid-container {
    display: flex;
    flex-flow: row;
    
    grid-column-gap: 15px;
    padding: 10px;
  }
  .grid-container > * {
    flex: 1 100%;
  }
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    .grid-container {
      flex-direction: column;
    }
    /* .grid-item{
      flex: 3;
    } */
  }
  .grid-item {
    background-color: #f3f0f0;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .count-circle{
    width: 20px;
    height: 20px;
    background-color: #d3d0d0;
    font-size: 16px;
    font-weight: 600;
    color: #0606a1;
    border-radius: 3px;
  }
  .inner-box{
    background-color: white;
    padding: 20px;
    /* text-align: left;
    font-size: 20px;
    font-weight: 600; */
  }
  .inner-box_p{
    text-align: left;
    font-size: 20px;
    font-weight: 500;
  }
  .font-500{
    font-weight: 500;
  }
  .m-b-0{
    margin-bottom: 0px !important;
  }
  .m-b-5{
    margin-bottom: 5px !important;
  }
  .m-b-10{
    margin-bottom: 10px !important;
  }
  .m-t-0{
    margin-top: 0px;
  }
  .m-l-0{
    margin-left: 0px !important;
  }
  .m-r-0{
    margin-right: 0px !important;
  }
  .text-align-center{
    text-align: center;
  }
  .text-align-left{
    text-align: left;
  }
.font-size-15{
    font-size: 15px;
}
.font-size-17{
  font-size: 17px;
}
.font-size-12{
  font-size: 12px;
}
.font-size-21{
  font-size: 21px;
}
.font-size-22{
  font-size: 22px;
}
.font-size-25{
  font-size: 25px;
}
.not-ready-txt{
    border: 1px solid darkgrey;
    background-color: lightgray;
    border-radius: 12px;
    /* margin-left: 23px; */
    /* width: 90px; */
}
.mr-b-22{
    margin-bottom: 22px !important;
}
.mr-t-22{
  margin-top: 22px !important;
}
.m-t-5{
  margin-top: 5px !important;
}
.m-b-5{
  margin-bottom: 5px !important;
}
.m-r-5{
    margin-right: 5px;
}
.m-l-5{
  margin-left: 5px;
}
.p-l-12{
  padding-left: 12px;
}
.p-r-12{
  padding-right: 12px;
}
.p-t-3{
  padding-top: 2px;
}
.p-b-3{
  padding-bottom: 2px;
}


/* material style */
.mat-mdc-tab-header {
  border-bottom: 1px solid rgba(0,0,0,.12) !important;
}
.mat-mdc-tab.mdc-tab {
  flex-grow: 0 !important;
}
.primary-btn{
  background-color: orangered !important;
  color: white !important;
}
.secondary-btn{
  color: orangered !important;
}
.mat-expansion-indicator::after{
  color: orangered !important;
}
.mat-elevation-z8, .mat-mdc-elevation-specific.mat-elevation-z8{
  /* box-shadow: none !important; */
}
.mat-mdc-table{
  box-shadow: none !important;
}
.btn-rm-marging{
  margin: 18px 0px !important;
}
.mat-expansion-indicator{
  width: 25px !important;
  height: 25px !important;
  text-align: center !important;
  background-color: antiquewhite !important;
  
}
.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 16px; */
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }
  .example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .my-panel { 
    width: 100%;
    display: flex;
    justify-content: space-between;
  } 
  /* .my-panel button {
      margin: 15px 25px;
    }  */
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover{
    background-color: white;
}
/* .my-panel button{
    margin: 18px 10px !important;
} */
.mat-select-panel {
  max-height: 95vh !important;
}
.mat-mdc-text-field-wrapper{
  /* width: 60% !important; */
}

.mdc-notched-outline{
  height: 66%!important;
}

  
  
  
  /* accordian design */

  .example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 16px; */
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }
  .example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .my-panel { 
    width: 100%;
    display: flex;
    justify-content: space-between;
  } 
  /* .my-panel button {
      margin: 15px 25px;
    }  */
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover{
    background-color: white;
}
/* .my-panel button{
    margin: 18px 10px !important;
} */
.mat-select-panel {
  max-height: 95vh !important;
}
.mat-mdc-text-field-wrapper{
  /* width: 60% !important; */
}

.mdc-notched-outline{
  height: 66%!important;
}

/* end */

/* dropdown style css start*/
.mat-mdc-text-field-wrapper .mdc-notched-outline{
  height: 66%!important;
  top: 10px!important;
}

.mdc-button--outlined{
  margin-right: 12px!important;
}

.dropdown-heading{
  text-wrap: nowrap!important;
  padding-right: 4px!important;
  font-weight: 500!important;
  font-size: 13px!important;
}

.mat-mdc-form-field-infix{
  display: inline-flex!important;
}

.mat-mdc-select-value-text{
  font-size: 13px!important;
}

.mat-mdc-select-arrow svg{
  color: #FC6C00!important;
}

/* dropdown style css end*/

.task-button-group .mdc-button:first-child{
  margin: 18px 10px !important;
}

.task-button-group .mdc-button:last-child{
  margin: 18px 18px 18px 0px!important
}

.task-button-group .mdc-button{
  margin: 18px 0px !important;
}
.mat-accordion .mat-expansion-panel:not(.mat-expanded), .mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing){
  padding: 10px !important;
}

/* accordian design */

.border-bottom{
  border-bottom: 1px solid lightgray;
}
.border-right{
  border-right: 1px solid lightgray;
}
.d-flex{
  display: flex;
}
.p-all{
  padding: 12px;
}
.align-text-center{
  align-items: center;
}
.orangdeg-color{
  color: orangered;

}
.kpi_card{
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.font-weight-500{
  font-weight: 500;
}
.font-weight-700{
  font-weight: 700;
}
.blue-color{
  color: blue;
}
.green-color{
  color: green
}
.red-color{
  color: red
}
.white-color{
  color: white;
}
.text-center{
  text-align: center !important;
}
.mat-mdc-dialog-container .mdc-dialog__content{
  color: black !important;
}
/* .mat-button-toggle-button{
  border: 1px solid orangered !important;
  border-radius: 5px;
  color: orangered !important;
} */
.mat-button-toggle-appearance-standard{
  border: 1px solid orangered !important;
  border-radius: 5px;
  color: orangered !important;
}
.mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard{
  border: none !important;
}
.mat-button-toggle-group-appearance-standard .mat-button-toggle-appearance-standard+.mat-button-toggle-appearance-standard{
  border-left: none !important;
}
.mat-button-toggle-appearance-standard.mat-button-toggle-checked{
  background-color: blue !important;
  border-radius: 5px !important;
  color: #f3f0f0 !important;
  border: none !important;
}
