.main-panel {
  background-color: #FDFDFD;
  flex: 1 100%;
  display: flex;
  /* background-image: url('https://zos.alipayobjects.com/rmsportal/hXPAkjiVgmrxvEYufwRO.png');
  background-position: center;
  background-repeat: no-repeat; */
 /* // height: 94vh; */
}

.input {
  flex: 0 0 8em;
  border-top: 1px solid #E5E5E5;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  textarea {
    flex: 1;
    resize: none;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    outline: none;
    width: 100%;
    max-width: unset;
  }
}

.panel{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 0;
}

.chat-present {
  height: 50vh;
  overflow-y: scroll;
}

.chat-main-panel {
  position: relative;
  padding: 0 16px;
  margin: 16px 0;
  overflow: auto;
  overflow-y: hidden;
  display: grid;

  .sender-time {
    float: left;
    font-size: 12px;
  }

  .receiver-time{
    float: right; 
    padding-left: 300px;
    font-size: 12px;
  }

  .senders-message {
    border-radius: 4px;
    margin-right: 100px;
    max-width: 100%;
    word-break: break-word;
    background-color: #F5F5F5;
    line-height: 16px;
    padding: 8px;
    font-size: 12px;
  }

  .receivers-message {
    border-radius: 4px;
    margin-left: 100px;
    max-width: 100%;
    word-break:break-word;
    background-color: #F0F0FF;
    float: right;
    line-height: 16px;
    padding: 8px;
    font-size: 12px;
  }
}

.suffix {
  position: absolute;
  bottom: 15px;
  right: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.custom-class{
  font-size: 12px !important;
  color: unset;
  padding-top: 1px;
}
