<div class="card m-1 p-2">
  <div class="main-panel px-2">
      <div class="panel">
          <div class="chat-present">
              <div class="chat-main-panel" *ngFor="let item of receiverData">
                  <ng-container *ngIf="item.personID !== currentUserName">
                      <div class="senders-message"><span>{{item.msg}}</span></div>
                      <span class="d-inline-block">
                          <span class="sender-time"><b>{{item.personID}}</b> {{item.time | dateTimeAgo:
                              longTexType}}</span>
                      </span>
                  </ng-container>
                  <ng-container *ngIf="item.personID === currentUserName">
                      <div class="receivers-message"><span>{{item.msg}}</span>
                      </div>
                      <span class="d-inline-block">
                          <span class="receiver-time"><b>You</b> {{item.time | dateTimeAgo: longTexType}}</span>
                      </span>
                  </ng-container>
              </div>
          </div>
          <div class="input pt-2">
              <textarea type="textarea" id="textArea" [(ngModel)]="inputText" class="ant-input" #text></textarea>
              <span class="suffix">
                  <button class="btn btn-primary" [disabled]="inputText.length==0"
                      (click)="myMessage(text.value)"><span class="material-symbols-outlined custom-class"> send</span>
                      send</button>
              </span>
          </div>
      </div>
  </div>
</div>